@font-face {
  font-display: block;
  font-family: "bootstrap-icons";
  src: url("../lib/bootstrap-icons/font/fonts/bootstrap-icons.woff2")
      format("woff2"),
    url("../lib/bootstrap-icons/font/fonts/bootstrap-icons.woff") format("woff");
}

/* Only include the icons you use */
.bi::before,
[class^="bi-"]::before,
[class*=" bi-"]::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Add only the icons you need */
.bi-house-door::before {
  content: "\f423";
}
.bi-plus-square::before {
  content: "\f4fd";
}
.bi-list::before {
  content: "\f479";
}
.bi-box-arrow-right::before {
  content: "\f1c3";
}
.bi-box-arrow-in-left::before {
  content: "\f1bd";
}
